body {
    background-color: #000;
}

h1 {
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 18.75rem;
    background-color: #000;
    padding: .5rem;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: .5rem;
}

.sidebar .logo {
    background: #121212;
    display: flex;
    border-radius: .5rem;
    padding: 1rem 0 0 1rem;
}

.sidebar .logo img {
    width: 5rem;
}

.sidebar nav ul {
    margin-top: 1.25rem;
    padding: 0 1.25rem .625rem 1.25rem;
}

/* dia 1 parou em 59:39*/